# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Env files
.env
.env.local

# IDE configs
.vscode/
.idea/

# Cache
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temp files
*.tmp
*.swp