// @use "/src/sass/base/variables.scss" as *;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

html {
    font-family: "Barlow", sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;

}


@media screen and (max-width: 1200px) {
    .container {
        max-width: 992px;
        padding: 0 30px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
        padding: 0 10px;
    }
}