.contact {
    &__wrapper {
        display: flex;
    }

    &__item {
        width: 50%;
        padding: 48px 48px 64px 48px;
        background-color: #a2c0be;
        position: relative;
    }

    &__item:nth-child(2) {
        background-color: #6c757d;
        padding: 153px 131px 201px 131px;
    }

    &__form {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.4s ease-out, transform 0.4s ease-out;

        &-title {
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: #405a58;
        }

        &-row {
            display: flex;
            justify-content: space-between;
            gap: 16px;
            margin-top: 50px;

            .contact__form-field {
                width: 50%;
                margin-top: 0;
            }

        }

        &-field {

            margin-top: 18px;

            label {
                display: block;
                font-weight: 400;
                font-size: 16px;
                line-height: 170%;
                color: #567876;
                margin-bottom: 12px;
            }

            input {
                outline: none;
                border-radius: 5px;
                border-color: transparent;
                width: 100%;
                height: 41px;
            }

            textarea {
                padding: 10px 12px;
                border: none;
                border-radius: 6px;
                font-size: 14px;
                outline: none;
                background-color: #ffffff;
                color: #030000;
                height: 180px;
                width: 100%;
                resize: vertical;
            }

        }

        &-submit {
            margin-top: 10px;
            padding: 14px 30px;
            border: none;
            border-radius: 30px;
            background-color: #343a40;
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            align-self: flex-start;
        }

        &-submit:hover {
            background-color: #000000;
        }
    }

    &__form-out {
        opacity: 0;
        transform: translateY(-250px);
        pointer-events: none;
    }



    &__title {
        font-weight: 700;
        font-size: 31px;
        line-height: 123%;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin-top: 24px;
    }

    &__address {
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        color: #a8b1b8;
        font-style: normal;

        p {
            display: flex;
            flex-direction: column;

            margin-top: 16px;

        }

        span {
            color: #fff;
        }

        a {
            text-decoration: none;
            color: #a8b1b8;
        }
    }
}

@media screen and (max-width: 992px) {
    .contact {
        &__wrapper {
            flex-direction: column;
        }

        &__item {
            width: auto;
            padding: 20px 20px;
        }

        &__item:nth-child(2) {
            padding: 5px 5px;
        }

        &__address {

            text-align: center;
        }

    }
}

.text-message {
    font-weight: 700;
    font-size: 15px;
    line-height: 123%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    // margin-top: 1.5rem;
}

.animated {
    opacity: 0;
    transform: translateY(250px);
    transition: all 0.4s ease-in;
}

.fadeInUp {
    opacity: 1;
    transform: translateY(0px);

}

.status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: auto;
    width: auto;
}

.status-modal {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.offset {
    opacity: 0;
    transform: translateY(250px);
}