.modal {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;

    &__title {
        font-weight: 800;
        font-size: 31px;
        line-height: 123%;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        margin-top: 15px;
    }

    &__box {
        position: relative;
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 200px;
        background-color: #a2c0be;
        width: 400px;
        height: 400px;
        padding: 10px 20px;
    }

    &__close {
        color: #fff;
        font-size: 36px;
        position: absolute;
        top: 155px;
        right: 50%;
        transform: translateX(218px);
        cursor: pointer
    }

    &__paw {
        span:before {
            color: #ffffff;

        }
    }

    &__paw::before {
        color: #ffffff;
    }

    &__paw::after {
        color: #ffffff;
    }

    &__form {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.4s ease-out, transform 0.4s ease-out;

        &-title {
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            color: #405a58;
        }

        &-row {
            display: flex;
            justify-content: space-between;
            gap: 16px;
            // margin-top: 50px;

            .contact__form-field {
                width: 50%;
                margin-top: 0;
            }

        }

        &-field {
            margin-top: 18px;

            label {
                display: block;
                font-weight: 400;
                font-size: 16px;
                line-height: 170%;
                color: #567876;
                margin-bottom: 12px;
            }

            input {
                outline: none;
                border-radius: 5px;
                border-color: transparent;
                width: 100%;
                height: 41px;
            }

        }

        &-submit {
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            padding: 14px 30px;
            border: none;
            border-radius: 30px;
            background-color: #343a40;
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;

        }

        &-submit:hover {
            background-color: #000000;
        }
    }
}