.services {
    padding: 80px 0px;

    &__title {
        margin-top: 23px;
        font-weight: 800;
        font-size: 31px;
        line-height: 123%;
        text-transform: uppercase;
        text-align: center;
        color: #000;
    }

    &__subtitle {
        margin: 0 auto;
        margin-top: 0.5rem;
        text-align: center;
        width: 50%;
        display: block;
        line-height: 170%;
        color: #808080;
    }

    &__container {
        margin-top: 45px;
        display: flex;
        row-gap: 45px;
        flex-wrap: wrap;
    }

    &__item {
        width: 33.33%;


        &-img {
            max-width: 100px;
        }
    }

    &__service {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: #000;
        margin-top: 28px;
    }

    &__text {
        margin-top: 17px;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        color: #808080;
    }
}

@media screen and (max-width: 992px) {
    .services {

        &__item {
            width: 50%;
        }
    }
}

@media screen and (max-width: 768px) {
    .services {

        &__item {
            width: 100%;
        }
    }
}