.welcome {
    padding: 82px 0 128px 0;


    &__paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        text-align: center;
        color: #808080;
        max-width: 500px;
        margin: 0 auto;
    }


    &__title {
        margin-top: 25px;
    }

    &__grid {
        display: flex;
        margin-top: 48px;
        flex-wrap: wrap;



        &-service {
            width: 50%;
            padding: 70px 50px 89px 50px;
        }

        &-title {
            text-align: right;
        }

        &-button {
            text-align: right;
            margin-top: 25px;


            a {
                display: inline-block;
                text-decoration: none;
                color: white;
                border-radius: 30px;
                width: 143px;
                height: 46px;
                background-color: #a2c0be;
                padding: 10px 20px;
                text-align: center;
                line-height: 1.5;
            }

            a:hover {
                background: black;
                color: white;

            }
        }

        &-paragraph {
            margin-top: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 170%;
            text-align: right;
            color: #808080;
        }

        &-img {
            width: 50%;
            padding: 0px 10px;
            position: relative;

            span::after {
                z-index: -1;
                content: "";
                position: absolute;
                top: 10px;
                right: 10px;
                bottom: 10px;
                left: 10px;
                background: #a2c0be;
                transition: .3s all ease-in-out;
            }

            span:hover::after {
                right: -10px;
                bottom: -10px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }


        }

    }


    .reverse {
        text-align: left;
    }
}


@media screen and (max-width: 992px) {
    .welcome {
        padding-bottom: 40px;

        &__grid {
            flex-direction: column;
            overflow: hidden;

            &-title {
                text-align: left;
            }

            &-button {
                text-align: left;
            }

            &-paragraph {
                text-align: left;
            }

            &-service {
                width: 100%;
            }

            &-img {
                width: 100%;
            }
        }
    }

    .order-1 {
        order: 2;
    }

    .order-2 {
        order: 1;
    }

    .order-3 {
        order: 3;
    }

    .order-4 {
        order: 4;
    }

    .order-5 {
        order: 6;
    }

    .order-6 {
        order: 5;
    }

}

@media screen and (max-width: 768px) {
    .welcome {
        &__grid {

            &-service {

                padding: 0 10px;
                margin: 20px 0;
            }

        }
    }
}