.welcome__intro {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-out;
}

.left-fade {
    opacity: 0;
    transform: translate(100px, 0);
    transition: all 0.5s ease-out;

    @media screen and (max-width: 992px) {
        transform: translate(50px, 0);
    }

    @media screen and (max-width: 768px) {
        transform: translate(15px, 0);
    }
}

.right-fade {
    opacity: 0;
    transform: translate(-100px, 0);
    transition: all 0.5s ease-out;

    @media screen and (max-width: 992px) {
        transform: translate(-50px, 0);
    }

    @media screen and (max-width: 768px) {
        transform: translate(-15px, 0);
    }
}

.about {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-out;
}

.trainers__item:nth-child(1) {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.6s ease-out;
}

.trainers__item:nth-child(2) {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.8s ease-out;
}

.trainers__item:nth-child(3) {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 1s ease-out;
}


.trainers__item.animate {
    opacity: 1;
    transform: translate(0, 0);
}

.pricing__fade {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.7s ease-out;
}

.pricing__box:nth-child(1) {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-out;
}

.pricing__box:nth-child(2) {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.7s ease-out;
}

.pricing__box:nth-child(3) {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.9s ease-out;
}

.pricing__box.animate {
    opacity: 1;
    transform: translate(0, 0);
}

.faq__fade {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.7s ease-out;
}

.faq__container {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.7s ease-out;
}

.gallery__paw {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-out;
}

.gallery__title {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-out;
}

.gallery__container {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-out;
}

.blog__paw {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-out;
}

.blog__title {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-out;
}

.blog__wrapper {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-out;
}

.blog__subtitle {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 0.5s ease-out;
}

.animate {
    opacity: 1;
    transform: translate(0, 0);
}